.projects {
    width: 100%;
}

.projects .container {
    width: 1240px;
    margin: 4rem auto;
    padding: 4rem 0rem;
}

.projects h2 {
    font-size: 3rem;
    text-align: center;
}

.projects .container .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 4rem 0;
}

.card:hover{
box-shadow: 5px 10px 15px 20px rgba(0,0,0,0.253)!important;
}

.card-body{
    padding: 3rem 0 !important
}

.card-text{
    font-size:9rem;
    padding: 0.4rem 1.9rem;
}

@media screen and (max-width: 940px) {
    .projects .container {
        width: 100%;
    }

    .projects .container .content {
        grid-template-columns: 1fr;
    }

    .projects .card {
        max-width: 100%;
        margin: 1rem;
    }
}









